<div id="queue-wrapper" class="column">
  <div *ngIf="(userRole$ | async) !== 'R'" id="instructions">
    <h3>Drag songs between the pool of available songs and the queue.</h3>
    <h3>You may also reorder the songs in the queue</h3>
  </div>

  <h2>Search songs</h2>
  <div id="filters" class="row">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="search" matInput [formControl]="nameControl" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="search" matInput [formControl]="artistControl" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Album</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="search" matInput [formControl]="albumControl" />
    </mat-form-field>
  </div>

  <div id="song-lists" class="row" cdkDropListGroup>
    <div id="queued-songs">
      <h2>Queued Songs</h2>
      <mat-list
        role="list"
        class="song-list"
        cdkDropList
        [cdkDropListData]="queuedSongs"
        (cdkDropListDropped)="drop($event, 'queue')"
      >
        <mat-list-item
          role="listitem"
          class="list-el"
          *ngFor="let song of queuedSongs"
          cdkDrag
          [cdkDragDisabled]="(userRole$ | async) === 'R'"
        >
          {{ song.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <div id="available-songs">
      <h2>Available Songs</h2>
      <mat-list
        class="song-list"
        role="list"
        cdkDropList
        [cdkDropListData]="availableSongs"
        (cdkDropListDropped)="drop($event, 'available')"
      >
        <mat-list-item
          role="listitem"
          class="list-el"
          *ngFor="let song of availableSongs; trackBy: trackBySongId"
          cdkDrag
          [cdkDragDisabled]="(userRole$ | async) === 'R'"
        >
          {{ song.name }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
