div#song-lists {
  justify-content: space-around;
}

mat-list.song-list {
  padding: 0;
  min-height: 9rem;
  max-height: 18rem;
  overflow-y: scroll;
  border: 1px solid white;
  border-radius: 0.5rem;
}
