<div id="queue-wrapper" class="column">
  <div *ngIf="(userRole$ | async) !== 'R'" id="instructions" class="row">
    <h3>Drag songs between the pool of available songs and the queue.</h3>
    <h3>You may also reorder the songs in the queue</h3>
  </div>

  <h2>Search songs</h2>
  <app-available-song-filter #availableSongFilter></app-available-song-filter>

  <div id="song-lists" class="row" cdkDropListGroup>
    <div id="queued-songs">
      <h2>Queued Songs</h2>
      <mat-list
        role="list"
        class="song-list"
        cdkDropList
        [cdkDropListData]="queuedSongs"
        (cdkDropListDropped)="drop($event, 'queue')"
      >
        <mat-list-item
          role="listitem"
          class="list-el"
          *ngFor="let song of queuedSongs"
          cdkDrag
          [cdkDragDisabled]="(userRole$ | async) === 'R'"
        >
          {{ song.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <div id="available-songs" class="column">
      <div class="header row">
        <h2>Available Songs</h2>
        <div class="buttons row">
          <button
            mat-icon-button
            [disabled]="prevPage === null"
            (click)="availableSongFilter.getAvailableSongs(prevPage)"
          >
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="nextPage === null"
            (click)="availableSongFilter.getAvailableSongs(nextPage)"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>

      <mat-list
        class="song-list"
        role="list"
        cdkDropList
        [cdkDropListData]="availableSongs"
        (cdkDropListDropped)="drop($event, 'available')"
      >
        <mat-list-item
          role="listitem"
          class="list-el"
          *ngFor="let song of availableSongs; trackBy: trackBySongId"
          cdkDrag
          [cdkDragDisabled]="(userRole$ | async) === 'R'"
        >
          {{ song.name }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
