mat-radio-button.mat-radio-button {
  margin-left: 1rem;
}

div#create-poll-wrapper {
  height: 100%;

  mat-dialog-content {
    flex-grow: 1;

    div#poll-type {
      margin-top: 0.5rem;
    }
  }
}
