<div id="create-poll-wrapper" class="column">
  <h1 mat-dialog-title>TITLE PLACEHOLDER | {{ testVariable }}</h1>
  <mat-dialog-content>
    <p>Note: play is the most complex of the 3 actions so let's leave that for the end</p>
    <h1>
      1. Put a radio button selection here for the action (kick, mq) for the
      poll
    </h1>
    <a href="https://material.angular.io/components/radio/api">
      Reference this link for radio button
    </a>
    <p>
      Here we will have the UI for all actions in one view. Later we will make
      it dynamic so that only one view shows up based on what was selected
    </p>
    <a href="https://material.angular.io/components/select/api">
      Reference this link for dropdowns
    </a>
    <h1>
      2. Kick user action: Have a dropdown of available users to select from
    </h1>
    <h1>
      3. Modify queue action: Have a dropdown of available songs to select from
    </h1>

    <div>{{ regularUsers$ | async }}</div>
    <div>{{ availableSongs$ | async }}</div>

    <div id="song-filter" class="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput [formControl]="nameControl" />
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <input type="text" matInput [formControl]="artistControl" />
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Album</mat-label>
        <input type="text" matInput [formControl]="albumControl" />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <h1>Add submit and cancel buttons</h1>
  </mat-dialog-actions>
</div>
