<div id="create-poll-wrapper" class="column">
  <h1 mat-dialog-title>Create Poll</h1>
  <mat-dialog-content>
    <label id="poll-type-label">Select a type of poll</label>
    <mat-radio-group aria-labelledby="poll-type-label" [(ngModel)]="pollType">
      <mat-radio-button *ngFor="let type of pollTypes" value="type">
        {{ type }}
      </mat-radio-button>
    </mat-radio-group>
    <div>Your poll type is: {{ pollType }}</div>

    <h1 mat-dialog-title>
      Kick User
    </h1>
    <mat-label>User</mat-label>
    <mat-select [(ngModel)]="selectedUserId">
      <mat-option
        *ngFor="let user of regularUsers$ | async"
        [value]="user.userId"
      >
        {{ user.name }}
      </mat-option>
    </mat-select>

    <h1>
      Add song: Have a dropdown of available songs to select from
    </h1>
    <mat-label>Songs</mat-label>
    <mat-select [(ngModel)]="selectedSongId">
      <mat-option
        *ngFor="let song of availableSongs$ | async"
        [value]="song.id"
      >
        {{ song.name }}
      </mat-option>
    </mat-select>

    <div id="song-filter" class="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput [formControl]="nameControl" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <input type="text" matInput [formControl]="artistControl" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Album</mat-label>
        <input type="text" matInput [formControl]="albumControl" />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="onCreatePoll()">
      Submit
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
