<div id="create-poll-wrapper" class="column">
  <h1 mat-dialog-title>Create Poll | {{ testVariable }}</h1>
  <mat-dialog-content>
    <p>
      Note: play is the most complex of the 3 actions so let's leave that for
      the end
    </p>
    <label id="poll type label"> Select a type of poll </label>
    <mat-radio-group aria-labelledby="poll type label" [(ngModel)]="pollType"
      ><mat-radio-button *ngFor="let type of pollTypes" value="type">
        {{ type }}
      </mat-radio-button></mat-radio-group
    >
    <div>Your poll type is: {{ pollType }}</div>
    <h1 mat-dialog-title>
      Kick User
    </h1>
    <mat-label>User</mat-label>
    <mat-select ngModel="users"
      ><mat-option *ngfor="let user of users" value="user">
        {{ user }}</mat-option
      ></mat-select
    >
    <h1>
      3. Modify queue action: Have a dropdown of available songs to select from
    </h1>

    <div>{{ regularUsers$ | async }}</div>
    <div>{{ availableSongs$ | async }}</div>

    <div id="song-filter" class="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput [formControl]="nameControl" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <input type="text" matInput [formControl]="artistControl" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Album</mat-label>
        <input type="text" matInput [formControl]="albumControl" />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <h1>Add submit and cancel buttons</h1>
  </mat-dialog-actions>
</div>
