<div id="add-room-wrapper">
  <h1 mat-dialog-title>Add Room</h1>
  <mat-dialog-content>
    <form class="row" [formGroup]="roomForm">
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Subtitle</mat-label>
          <input matInput type="text" formControlName="subtitle" />
        </mat-form-field>
      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div id="users" class="column">
        <app-users-search-select
          [filterByActiveRoom]="false"
          [(selectedUsers)]="selectedUsers"
        ></app-users-search-select>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      color="accent"
      mat-raised-button
      mat-dialog-close
      (click)="onAddRoom()"
      [disabled]="roomForm.invalid"
    >
      Add
    </button>
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
  </mat-dialog-actions>
</div>
