<div id="add-room-wrapper">
  <h1 mat-dialog-title>Add Room</h1>
  <mat-dialog-content>
    <form class="column" [formGroup]="roomForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Subtitle</mat-label>
        <input matInput type="text" formControlName="subtitle" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Search users</mat-label>
        <input type="search" matInput [formControl]="usernameControl" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Invite users</mat-label>
        <mat-select multiple [formControl]="users">
          <mat-option
            *ngFor="let user of allUsers$ | async"
            [value]="user.userId"
          >
            {{ user.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      mat-dialog-close
      (click)="onAddRoom()"
      [disabled]="roomForm.invalid"
    >
      Add
    </button>
    <button mat-raised-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
