<div id="poll-wrapper" class="column">
  <p class="poll-question" [ngSwitch]="pollType">
    <ng-container *ngSwitchCase="'U'">
      Would you like to kick {{ name }}?
    </ng-container>
    <ng-container *ngSwitchCase="'MQ'">
      Would you like to add {{ name }} to the queue?
    </ng-container>
  </p>
  <div id="vote-buttons" class="row">
    <button mat-raised-button (click)="onVote(true)">Yes</button>
    <button mat-raised-button color="warn" (click)="onVote(false)">No</button>
  </div>
</div>
