div.top-bar {
  justify-content: flex-start;
  height: 5%;
}

div.list-el {
  cursor: pointer;

  &.active {
    color: greenyellow;
    border-color: greenyellow;
  }
}

div#rooms-wrapper {
  height: 100%;
}
