div.top-bar {
  justify-content: flex-start;
  height: 3.5%;
  padding: {
    top: 1rem;
    left: 1rem;
    right: 1rem;
  }
}

div.list-el {
  cursor: pointer;

  &.active {
    color: greenyellow;
    border-color: greenyellow;
  }
}

div#rooms-wrapper {
  height: 100%;
}
