<div id="rooms-wrapper" class="column">
  <div class="top-bar row">
    <h1>Rooms</h1>
    <button mat-icon-button matTooltip="Add room" (click)="onAddRoom()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <mat-accordion displayMode="flat" [multi]="true">
    <mat-expansion-panel
      [expanded]="true"
      #adminPanel
      [ngClass]="adminPanel.expanded ? 'opened' : ''"
    >
      <mat-expansion-panel-header>
        <h2>Admin</h2>
      </mat-expansion-panel-header>
      <div
        class="list-el"
        *ngFor="let room of rooms.admin"
        [ngClass]="{ active: activeRoom && activeRoom.id === room.id }"
        (click)="onRoomClick(room)"
        [matBadge]="notifications[room.id]"
        [matTooltip]="room.subtitle"
        matTooltipPosition="right"
      >
        {{ room.title }}
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      *ngIf="rooms.dj.length !== 0"
      [expanded]="true"
      #djPanel
      [ngClass]="djPanel.expanded ? 'opened' : ''"
    >
      <mat-expansion-panel-header>
        <h2>DJ</h2>
      </mat-expansion-panel-header>
      <div
        class="list-el"
        *ngFor="let room of rooms.dj"
        [ngClass]="{ active: activeRoom && activeRoom.id === room.id }"
        (click)="onRoomClick(room)"
        [matBadge]="notifications[room.id]"
        [matTooltip]="room.subtitle"
        matTooltipPosition="right"
      >
        {{ room.title }}
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      *ngIf="rooms.regular.length !== 0"
      [expanded]="true"
      #regularPanel
      [ngClass]="regularPanel.expanded ? 'opened' : ''"
    >
      <mat-expansion-panel-header>
        <h2>Regular</h2>
      </mat-expansion-panel-header>
      <div
        class="list-el"
        *ngFor="let room of rooms.regular"
        [ngClass]="{ active: activeRoom && activeRoom.id === room.id }"
        (click)="onRoomClick(room)"
        [matBadge]="notifications[room.id]"
        [matTooltip]="room.subtitle"
        matTooltipPosition="right"
      >
        {{ room.title }}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
