<div id="rooms-wrapper" class="column">
  <div class="top-bar row">
    <h1>Rooms</h1>
    <button>
      <mat-icon>
        <i class="material-icons">
          add_circle
        </i>
      </mat-icon>
    </button>
  </div>
  <div class="list-wrapper column">
    <div id="admin-rooms" class="column">
      <h2>Admin Rooms</h2>
      <div class="room" *ngFor="let room of rooms.admin">{{ room }}</div>
    </div>
    <div id="dj-rooms" class="column">
      <h2>DJ Rooms</h2>
      <div class="room" *ngFor="let room of rooms.dj">{{ room }}</div>
    </div>
    <div id="regular-rooms" class="column">
      <h2>Regular Rooms</h2>
      <div class="room" *ngFor="let room of rooms.regular">{{ room }}</div>
    </div>
  </div>
</div>
