div.list-el {
  cursor: pointer;

  &.active {
    color: greenyellow;
    border-color: greenyellow;
  }
}

div#rooms-wrapper {
  height: 100%;

  mat-accordion {
    flex-grow: 1;
    margin-bottom: 0 !important;

    .list-el {
      margin-bottom: 0.25rem;
    }
  }
}
