div#users-search-select-wrapper {
  height: 100%;

  div.buttons {
    margin-left: auto;
  }

  mat-selection-list {
    height: 15rem;
    overflow-y: scroll;
    border: 1px solid white;
    border-radius: 0.5rem;
  }
}
