<div id="invite-wrapper">
  <h1 mat-dialog-title>Invite Users</h1>
  <mat-dialog-content class="column">
    <app-users-search-select
      [filterByActiveRoom]="true"
      [(selectedUsers)]="selectedUsers"
    ></app-users-search-select>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      color="accent"
      mat-raised-button
      mat-dialog-close
      (click)="onInvite()"
    >
      Invite
    </button>
    <button color="warn" mat-raised-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
