div#main-screen-wrapper {
  height: 100%;

  ::ng-deep mat-list-item.current-user > div.mat-list-item-content {
    justify-content: flex-end;
  }

  mat-list-item {
    height: fit-content;

    ::ng-deep &:first-child div.mat-list-item-content {
      justify-content: center;
    }
  }
}
