<div id="main-screen-wrapper">
  <mat-list class="column">
    <mat-list-item
      *ngFor="let event of events"
      [ngClass]="{ 'current-user': userId === event.user_id }"
    >
      <div class="list-el" [ngSwitch]="event.event_type">
        <ng-container *ngSwitchCase="'MQ'">
          {{ event.username + ' modified the queue' }}
        </ng-container>
        <ng-container *ngSwitchCase="'M'">
          {{ event.username + ': ' + event.args.content }}
        </ng-container>
        <ng-container *ngSwitchCase="'PL'">
          {{ event.username + ' played a song' }}
        </ng-container>
        <ng-container *ngSwitchCase="'U'">
          {{ event.username + ' made a user change' }}
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{  'Music got adjusted' }}
        </ng-container>
      </div>
    </mat-list-item>
  </mat-list>
</div>
