div#main-screen-wrapper {
  height: 100%;
  flex-wrap: nowrap !important;

  button#load-more {
    width: 7.5rem;
    align-self: center;
  }

  ::ng-deep mat-list-item.current-user > div.mat-list-item-content {
    justify-content: flex-end;
  }

  mat-list-item {
    height: fit-content;
  }
}
