<div id="main-screen-wrapper" class="column">
  <button
    id="load-more"
    *ngIf="loadMore$ | async"
    mat-raised-button
    (click)="onLoadMore()"
  >
    Load more
  </button>
  <mat-list class="column">
    <mat-list-item
      *ngFor="let event of events; index as i"
      [ngClass]="{ 'current-user': userId === event.user_id }"
      [matTooltip]="event.creation_time | date: 'short'"
      [matTooltipPosition]="userId === event.user_id ? 'right' : 'left'"
      [matTooltipShowDelay]="500"
    >
      <div class="list-el" [ngSwitch]="event.event_type">
        <ng-container *ngSwitchCase="'M'">
          {{ event.username + ': ' + event.args.content }}
        </ng-container>
        <ng-container *ngSwitchCase="'PO'">
          <p>A poll got created</p>
        </ng-container>
        <ng-container *ngSwitchCase="'U'" [ngSwitch]="event.args.type">
          <ng-container *ngSwitchCase="'I'">
            <div class="user-invite-form">
              <h3>
                {{
                  'You have been invited to ' +
                    event.args.room_name +
                    ' by ' +
                    event.username
                }}
              </h3>
              <button
                mat-raised-button
                (click)="onInviteResponse('A', event.args.room_id, i)"
              >
                Accept
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="onInviteResponse('R', event.args.room_id, i)"
              >
                Reject
              </button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'K'">
            <p>Got kicked out of the room ID {{ event.args.room }}</p>
          </ng-container>
          <ng-container *ngSwitchDefault>
            Something went wrong.
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ 'Music got adjusted' }}
        </ng-container>
      </div>
    </mat-list-item>
  </mat-list>
</div>
