<div id="users-wrapper" class="column">
  <h1>Users</h1>
  <div class="list-wrapper column">
    <div id="admin-users" class="column">
      <h2>Admin</h2>
      <div class="list-el" *ngFor="let user of users.admin">{{ user }}</div>
    </div>
    <div id="dj-users" class="column">
      <h2>DJ</h2>
      <div class="list-el" *ngFor="let user of users.dj">{{ user }}</div>
    </div>
    <div id="regular-users" class="column">
      <h2>Regular</h2>
      <div class="list-el" *ngFor="let user of users.regular">{{ user }}</div>
    </div>
  </div>
</div>
