h3 {
  margin-bottom: 0;
}

div#regular-users {
  > div.list-el {
    justify-content: space-between;
    align-items: center;
  }
}

div.list-wrapper > div {
  min-height: 10rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}

div#top-bar {
  justify-content: space-between;
}
