<div id="users-wrapper" class="column">
  <div id="top-bar" class="row">
    <h1>Users</h1>
    <button
      *ngIf="(roomName$ | async) !== 'Personal Room'"
      mat-icon-button
      (click)="onInvite()"
      matTooltip="Add users to room"
    >
      <mat-icon>add_circle</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-slide-toggle (change)="onToggleTheme()">
          {{ isDarkTheme ? 'Dark Mode' : 'Light Mode' }}
        </mat-slide-toggle>
      </button>
      <button mat-menu-item (click)="onSignOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Signout</span>
      </button>
    </mat-menu>
  </div>

  <mat-accordion displayMode="flat" [multi]="true" cdkDropListGroup>
    <mat-expansion-panel
      [expanded]="true"
      #adminPanel
      [ngClass]="adminPanel.expanded ? 'opened' : ''"
    >
      <mat-expansion-panel-header>
        <h2>Admin</h2>
      </mat-expansion-panel-header>
      <div
        id="admin-users"
        class="column list-container"
        cdkDropList
        [cdkDropListData]="users.admin"
        (cdkDropListDropped)="drop($event, 'A')"
      >
        <div class="list-el" *ngFor="let user of users.admin">
          <h3>{{ user.name }}</h3>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="true"
      #djPanel
      [ngClass]="djPanel.expanded ? 'opened' : ''"
    >
      <mat-expansion-panel-header>
        <h2>DJ</h2>
      </mat-expansion-panel-header>
      <div
        id="dj-users"
        class="column list-container"
        cdkDropList
        [cdkDropListData]="users.dj"
        (cdkDropListDropped)="drop($event, 'D')"
      >
        <div
          class="list-el"
          *ngFor="let user of users.dj"
          cdkDrag
          [cdkDragDisabled]="(userRole$ | async) !== 'A'"
        >
          <h3>{{ user.name }}</h3>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="true"
      #regularPanel
      [ngClass]="regularPanel.expanded ? 'opened' : ''"
    >
      <mat-expansion-panel-header>
        <h2>Regular</h2>
      </mat-expansion-panel-header>
      <div
        id="regular-users"
        class="column list-container"
        cdkDropList
        [cdkDropListData]="users.regular"
        (cdkDropListDropped)="drop($event, 'R')"
      >
        <div
          class="list-el row"
          *ngFor="let user of users.regular"
          cdkDrag
          [cdkDragDisabled]="(userRole$ | async) !== 'A'"
        >
          <h3>{{ user.name }}</h3>
          <button
            *ngIf="(userRole$ | async) === 'A'"
            mat-icon-button
            matTooltip="Kick user"
            (click)="onKickUser(user)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <div class="list-wrapper column" cdkDropListGroup>
    <h2>Admin</h2>
    <div
      id="admin-users"
      class="column"
      cdkDropList
      [cdkDropListData]="users.admin"
      (cdkDropListDropped)="drop($event, 'A')"
    >
      <div
        class="list-el"
        *ngFor="let user of users.admin"
        cdkDrag
        [cdkDragDisabled]="(userRole$ | async) !== 'A'"
      >
        <h3>{{ user.name }}</h3>
      </div>
    </div>
    <h2>DJ</h2>
    <div
      id="dj-users"
      class="column"
      cdkDropList
      [cdkDropListData]="users.dj"
      (cdkDropListDropped)="drop($event, 'D')"
    >
      <div
        class="list-el"
        *ngFor="let user of users.dj"
        cdkDrag
        [cdkDragDisabled]="(userRole$ | async) !== 'A'"
      >
        <h3>{{ user.name }}</h3>
      </div>
    </div>
    <h2>Regular</h2>
    <div
      id="regular-users"
      class="column"
      cdkDropList
      [cdkDropListData]="users.regular"
      (cdkDropListDropped)="drop($event, 'R')"
    >
      <div
        class="list-el row"
        *ngFor="let user of users.regular"
        cdkDrag
        [cdkDragDisabled]="(userRole$ | async) !== 'A'"
      >
        <h3>{{ user.name }}</h3>
        <button
          *ngIf="(userRole$ | async) === 'A'"
          mat-icon-button
          matTooltip="Kick user"
          (click)="onKickUser(user)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div> -->
</div>
