div#users-wrapper {
  height: 100%;

  div.top-bar {
    button#settings {
      margin-left: auto;
    }
  }

  mat-accordion {
    flex-grow: 1;
    margin-bottom: 0 !important;

    mat-expansion-panel div.list-container {
      min-height: 7.5rem;
      border: 1px solid white;
      border-radius: 0.5rem;

      div.list-el {
        height: 1.5rem;
        margin-bottom: 0 !important;
        border: {
          top: none;
          bottom: 1px solid white;
          left: none;
          right: none;
        }
        border-radius: 0;

        &:last-child {
          border: none !important;
        }
      }
    }
  }
}

h3 {
  margin-bottom: 0;
}

div#regular-users {
  > div.list-el {
    justify-content: space-between;
    align-items: center;
  }
}
