<div id="page-wrapper" class="column">
  <div id="branding">
    <img id="logo" src="../../assets/logo.png" />
  </div>

  <form class="column" [formGroup]="authForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </form>

  <div id="buttons" class="row">
    <button mat-raised-button (click)="onSignUp()">Sign Up</button>
    <button mat-raised-button (click)="onSignIn()">Sign In</button>
  </div>
</div>
