<div id="controls-wrapper" class="row">
  <div id="other-buttons" class="row">
    <input
      id="upload-music"
      type="file"
      accept="audio/*"
      (change)="onUploadChange($event)"
    />
    <button mat-icon-button matTooltip="Upload music">
      <label for="upload-music">
        <mat-icon>attach_file</mat-icon>
      </label>
    </button>
    <button mat-icon-button matTooltip="View/change queue">
      <mat-icon>queue_music</mat-icon>
    </button>
  </div>
  <div id="current-song" class="column">
    <audio
      id="main-song"
      autoplay
      [src]="'../../../assets/' + currentSong.name"
      (ended)="onEnded($event)"
    ></audio>
    <div id="song-data">{{ currentSong.name }}</div>
    <div id="progress-bar">
      <mat-progress-bar
        mode="determinate"
        [value]="getSongProgress()"
        color="warn"
      ></mat-progress-bar>
    </div>
  </div>
  <div id="song-buttons" class="row">
    <button mat-icon-button matTooltip="Previous song" (click)="onPrevious()">
      <mat-icon>fast_rewind</mat-icon>
    </button>
    <button
      *ngIf="song.paused"
      mat-icon-button
      matTooltip="Play"
      (click)="onPlay()"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      *ngIf="!song.paused"
      mat-icon-button
      matTooltip="Pause"
      (click)="onPause()"
    >
      <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Next song" (click)="onNext()">
      <mat-icon>fast_forward</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Rewind 10 seconds" (click)="onReplay()">
      <mat-icon>replay_10</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Skip 10 seconds" (click)="onForward()">
      <mat-icon>forward_10</mat-icon>
    </button>
  </div>
</div>
